<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{196,64}</string>
                <key>textureRect</key>
                <string>{{345,581},{196,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,56}</string>
                <key>spriteSourceSize</key>
                <string>{204,56}</string>
                <key>textureRect</key>
                <string>{{1,1029},{204,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,487},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{499,1049},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,104}</string>
                <key>textureRect</key>
                <string>{{411,581},{116,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{178,48}</string>
                <key>textureRect</key>
                <string>{{345,779},{178,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{375,1005},{22,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,14}</string>
                <key>spriteSourceSize</key>
                <string>{54,14}</string>
                <key>textureRect</key>
                <string>{{405,323},{54,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,14}</string>
                <key>spriteSourceSize</key>
                <string>{38,14}</string>
                <key>textureRect</key>
                <string>{{395,779},{38,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{291,1},{336,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{411,699},{118,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{469,819},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{485,699},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{207,1029},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,513},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,539},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{469,901},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,939},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,965},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{485,759},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{475,991},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{337,1005},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{441,939},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{485,797},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{403,1037},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{441,973},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{367,1063},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,128}</string>
                <key>spriteSourceSize</key>
                <string>{240,128}</string>
                <key>textureRect</key>
                <string>{{345,339},{240,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{291,983},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{285,1029},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{485,729},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{389,1063},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{291,339},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{405,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{459,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{405,1059},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{291,661},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{331,1031},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{461,323},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{437,1059},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{331,1057},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,819},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{427,985},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{505,323},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{391,985},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,835},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{475,323},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,851},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{285,1075},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{391,1011},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,867},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,883},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{427,1007},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,1017},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{499,1033},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{345,959},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,36}</string>
                <key>spriteSourceSize</key>
                <string>{16,36}</string>
                <key>textureRect</key>
                <string>{{495,901},{16,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{421,1059},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{395,939},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{501,797},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{427,1033},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{463,1017},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{463,1043},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{367,1037},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{437,1069},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{475,565},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{459,1069},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{395,819},{118,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{475,405},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{481,1069},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{512,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37de5c27d0ba50b072cd903e8d610e21:2495b849638b52c23d980159431b5cbe:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
